__pycache__/
*.py[cod]
*.so

build/
dist/
*.egg-info/
.installed.cfg
*.egg

.env
.venv
env/
venv/
ENV/

.coverage
htmlcov/
.pytest_cache/
*.log

.vscode/
.idea/
.DS_Store

out/*
!out/.gitkeep

check_models.py

cases/*

baseline/
